<%- include('../partials/header.ejs'); -%>

<main class="card-wrapper">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Личный кабинет
        </div>
        <div class="card-body">
            <div class="card-div">Имя пользователя: <b><%= userData.login %></b> </div>
            <div class="card-div">Роль: <b><%= userData.role %></b> </div>
            <div class="card-div">Дата регистрации: <b><%= userData.registrationDate %></b> </div>
            <hr>
            <a href="/account/logout">Выйти из аккаунта</a>
        </div>
      </div>
</main>


<%- include('../partials/footer.ejs'); -%>