<%- include('../partials/header.ejs'); -%>

<main>
    <div class="container">
        <% if (posts.length == 0) { %>
            <p class="text-center">Здесь пока ничего нет</p>
        <% } %>
        <% posts.forEach(function(post){ %>
            <article>
                <h2><%- post.title %></h2>
                <p><%- post.description %></p>
                <a href="/post/<%= post.number %>">Читать далее</a>
            </article>
        <% }); %>
    </div>
</main>

<%- include('../partials/footer.ejs'); -%>