<%- include('../partials/header.ejs'); -%>

<main>
    <div class="container">
        <% posts.forEach(function(post){ %>
            <article>
                <h2><%- post.title %></h2>
                <p><%- post.text %></p>
                <a href="/post/<%= post.number %>">Читать далее</a>
            </article>
        <% }); %>
    </div>
</main>

<%- include('../partials/footer.ejs'); -%>